version: '3.8'

services:
  db:
    image: postgres:15
    container_name: lite-admin-db
    environment:
      POSTGRES_USER: pt
      POSTGRES_PASSWORD: pt@123
      POSTGRES_DB: lite_admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: lite-admin-redis
    ports:
      - "6389:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    command: redis-server --appendonly yes

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local